[2020-07-14 20:02] danobi opened #14 "Add query API for link"
https://github.com/libbpf/libbpf/blob/master/src/bpf.h#L221

[2020-07-14 20:23] danobi commented on #14
Blocked on https://github.com/alexforster/libbpf-sys/pull/12

[2020-07-14 21:04] danobi opened #15 "Support returning errors from query API"
The query API is iterator based. Each iteration is technically fallible but there's no great way to report errors.

I played around with making the iterator type by `Result<T>` but that can cause infinite loops: 24aa7ea561e06dd2a .

Not sure what can be done about it. Maybe https://docs.rs/fallible-iterator/0.2.0/fallible_iterator/ but that library isn't very nice b/c it reimplements much of the i

[2020-07-21 23:32] #14 closed

[2020-08-19 15:44] danobi opened #23 "Add skeleton support"
The goal of libbpf-rs skeleton is exactly the same as libbpf skeleton: to reduce programming errors and streamline boilerplate.

To that end, there are multiple pieces that need to fit together. In order, they are:
- [x] object file bundling
  * remove need to ship around `.o` files
  * add a `cargo libbpf make` subcommand to run: `cargo libbpf build && cargo libbpf gen && cargo build`
    * reduc

[2020-08-19 15:44] danobi commented on #23
In progress

[2020-08-25 07:54] brandshaide opened #25 "Link to examples in Docs.rs is broken"
[Docs.rs for the crate](https://docs.rs/libbpf-rs/0.4.0/libbpf_rs/) is containing a link to examples which is broken (404):

https://docs.rs/libbpf-rs/0.4.0/libbpf_rs/#example

[2020-08-26 16:23] danobi commented on #25
Thanks for reporting. Fixed in 1e85dfebb923541.

[2020-08-26 16:23] #25 closed

[2020-11-20 04:22] kbknapp opened #28 "XDP Support Planned?"
Is there any plan to support the XDP portions of `libbpf`? If so, are there thoughts on how you would like that accomplished so people can submit PRs or contributions to that end?

Thanks!

[2020-11-20 05:17] danobi commented on #28
Have you taken a look at https://crates.io/crates/afxdp yet?

I'm not sure too much XDP stuff belongs in libbpf -- there was some discussion a while ago about how it was a historical mistake (cc @anakryiko).

[2020-11-20 16:35] kbknapp commented on #28
I saw that it exists when looking at the `libbpf_sys` crate, but I have not yet tried it out. It may very well meet my use case, I'll look into it here shortly. Totally understand if you want to take this crate into a more opinionated direction, I was just curious what the plans were if any to extend since upstream `libbpf` does contain XDP functionality (even the XDP Project seems to be relying o

[2020-11-21 07:44] anakryiko commented on #28
Depends what is XDP functionality. APIs like bpf_program__attach_xdp() is definitely part of libbpf. The xsk.c parts of libbpf are probably going to be moved out of libbpf eventually, as they are not very BPF specific.

[2020-11-22 18:21] shun159 opened #30 "cargo libbpf build command failed"
### symptoms

Fail to build if clang --version returns a string which unexpected format.

expected

[code]

the string when the command fail.

[code]

And cargo libbpf build command returns following:

[code]

### clang
installed from https://apt.llvm.org/groovy/pool/main/l/llvm-toolchain-11/

### kernel version
[code]

### lsb-release
[code]

if you need further information, please let me know.

[2020-11-22 20:06] danobi commented on #30
Hi,

There should be a skip version check flag you can pass to work around this for now.

I’ll take a look at the root issue when I get to a computer.

On Sun, Nov 22, 2020, at 12:21 PM, Eishun Kondoh wrote:

--
  Daniel Xu
  accounts@dxuuu.xyz

[2020-11-23 17:55] kbknapp commented on #28
I did some playing with `afxdp`, and the API doesn't quite suit my use case. Not saying it couldn't, but it's not nearly as fleshed out as this crate. It could just be the way I'm trying to use it since I'm still new to BPF, but my mental model works much closer to how this crate is laid out. I'll continue to play with it, and see if I find something that is PRable that doesn't work against that A

[2020-11-23 18:54] #30 closed

[2020-11-23 19:12] danobi commented on #28
Feel free to send PRs :)

[2020-11-24 02:29] shun159 commented on #30
@danobi
Thank you for your help!

[2020-12-02 22:34] danobi commented on #23
#24 added the foundation

[2020-12-04 17:13] danobi commented on #23
#34 adds the `make` subcommand

[2020-12-11 00:35] danobi commented on #23
#39 has `gen` use C skeleton APIs

[2020-12-11 00:36] danobi commented on #23
#40 adds mmap'd datasec support

[2020-12-23 19:26] danobi opened #44 "Don't parse ELF in libbf-cargo gen"
Once libbbpf_sys is updated to libbpf v0.2, we can use the btf__set_endianness() API to force native endianness and not need to worry about endianness.

[2020-12-23 19:27] danobi commented on #44
Dependent on: https://github.com/alexforster/libbpf-sys/pull/14

[2020-12-26 02:26] #44 closed

[2020-12-30 00:34] danobi commented on #23
Released in libbpf-cargo v0.4.0

[2020-12-30 17:36] #23 closed

[2021-01-01 18:24] willfindlay opened #49 "Support for ringbuf?"
I noticed this crate seems to support the older perf buffer technique for passing per-event data to userspace but not the newer ringbuf map. Do you have plans to include this / would you be interested in a PR?

Thanks! Loving the crate so far.

[2021-01-04 18:04] danobi commented on #49
It's not in my personal plans at the moment but I think it would be a great addition. PR is very welcome.

:)

[2021-01-15 11:05] levaitamas opened #52 "Interacting with existing maps?"
Long story short: I want to use libbf-rs to interact with globally pinned maps that are not created by loading an object with libbpf-rs, but I can not find a way to do that.

Some context: I am working on a user space program which communicates with a bpf object loaded as a tc direct-action via bpf maps. My bpf object in kernel creates the maps, and pins them globally. So, the task for the user-sp

[2021-01-15 19:30] danobi commented on #52
I think we can probably add a `unsafe from_fd(fd: i32)` method. Would that help your use case?

[2021-01-15 20:41] levaitamas commented on #52
That would be great. I got stuck at instantiating `Map` objects.

[2021-01-17 10:27] dvc94ch opened #53 "Map should implement Iterator"
Currently there seems to be no way of iterating over the entries in a `Map`.

[2021-01-17 20:45] dvc94ch opened #54 "declaring a map requires having a field named type"
This can not be accomplished when compiling from rust. `type_` as emitted by bindgen or `r#type` generate wrong identifier names in the debug info making it impossible to get btf to acknowledge a `type` field. I'd suggest also accepting `type_`.

Ups wrong repo should be the libbpf one.

[2021-01-18 13:10] levaitamas commented on #52
I do have a hackish implementation which works for map updates and lookups. But I am concerned about substituting the `ptr` with a null pointer.

[code]

[2021-01-20 00:06] danobi commented on #52
Hmmm yeah, it seems difficult to implement `from_fd` correctly. The issue is that libbpf hides `struct bpf_map` definition so we cannot really recreate a pointer. And I don't believe you can recover all the information in a `struct bpf_map` from just an FD. So it's unlikely we can add this kind of API to libbpf either.

I think if you want continue with your design, you probably have to make some

[2021-01-20 00:11] danobi commented on #54
Gonna close this out b/c it's probably better asked on the mailing lists.

But just out of curiosity, why are you bindgen'ing the .bpf.c code?

[2021-01-20 00:11] #54 closed

[2021-01-20 00:16] anakryiko commented on #52
libbpf provides `bpf_map__reuse_fd()` API to use pinned map by its FD. Wouldn't that work here?

[2021-01-20 00:18] danobi commented on #52
bpf_map__reuse_fd() takes an allocated `struct bpf_map *` in-param. Where do we get that from?

[2021-01-20 00:36] anakryiko commented on #52
`bpf_object__open_mem()` gives `struct bpf_object *`, then `bpf_object__find_map_by_name(obj, "my_map")` give `struct bpf_map *`. Before `bpf_object__load()`, you do `bpf_map__reuse_fd()` and now your bpf_map "reuses" pinned map, no new map is created. So for libbpf-rs it would be: 1) get OpenMap, 2) OpenMap::reuse_fd or something like that, 3) OpenObject::load, 4) Map will point to pinned map.

S

[2021-01-20 01:37] danobi commented on #52
Let's say application A created the map and application B wants to interact with the map. So B would need to declare a dummy map so that they could call `OpenMap::reuse_fd()` on it?

Is this a typical workflow?

[2021-01-20 05:30] anakryiko commented on #52
Typically it's the same application (e.g., handling of BPF program code upgrades, while keeping the state in maps the same). And even if it's not, usually such map will be used from BPF side. So it's rarely "dummy".

But if you only need to work with pinned map from user-space, then I'd say using low-level APIs (bpf_map_update_elem) are the most straightforward way.

[2021-01-20 07:50] dvc94ch commented on #54
I'm not. Currently I'm using a patched cargo-bpf  that emits debug info [0], at least until the rustc bpf target support is merged [1]. I'm currently working on my own bpf library that is going to work something like this:

[code]

I'm still missing an understanding of how maps work in detail, I assumed libbpf-rs would handle it for me until I realized it does not.

So you used to be able to decla

[2021-01-20 15:59] dvc94ch commented on #54
Any suggestions on how to proceed? I guess I'll just not put maps in the .maps section and load them manually using the BPF_MAP_CREATE syscall.

[2021-01-21 20:18] anakryiko commented on #54
It's not clear. So how does your BPF code look like?

[2021-01-21 20:32] dvc94ch commented on #54
It's a work in progress, I made my first experiments with redbpf and got something to work (counting syscalls). Here is the wip adaption to my own library [0]. Note that nothing actually works yet.

- [0] https://github.com/dvc94ch/rust-bpf/blob/master/examples/syscount/probe/src/main.rs

[2021-01-21 20:49] anakryiko commented on #54
redbpf doesn use libbpf. Those BTF-based map definitions in SEC(".maps") is libbpf convention. Kernel itself just expects BTF FD and type IDs associated with key and value to get everything working.

On the other hand, libbpf does expect BPF code to be written in C and compiled with Clang. So if you want to go with Rust for BPF code, I don't think you can easily use libbpf.

[2021-01-21 20:53] dvc94ch commented on #54
Yes I came to the same conclusion. I can still use libbpf-rs to bootstrap, it should work for parsing the elf file and loading bpf programs, but I'll need to implement my own map handling.

[2021-01-21 23:46] #52 closed

[2021-01-21 23:48] #53 closed

[2021-01-22 23:29] dvc94ch commented on #54
libbpf-rs works for me now. apparently you can put maps in a `maps` section instead of a `.maps` section and it just works. the verifier seems mysterious sometimes, is there a good reference explaining what it verifies and how to make it happy?

[2021-01-23 02:06] danobi commented on #54
Unfortunately, the only way is to read the source. Usually the function names will hint you in the right direction.

[2021-01-23 02:32] willfindlay opened #57 "Skeleton generation issues with short filename + global variables"
This is something I noticed while I was working on my personal project based on libbpf-rs. When I have a very short BPF source file name and global variables, the resulting skeleton generates incorrectly, such that there is a name mismatch between the generated map name and the generated skeleton name.

The above may be a bit confusing, so I'll illustrate with an example:

**src/bpf/ebph.bpf.c:**

[2021-01-23 18:00] willfindlay commented on #57
Seems like we can just remove the `_bpf` part from `gen.rs` like so:
[code]
Is there any specific reason why the `_bpf` was included in the first place? If not, I can make a PR.

[2021-01-24 18:27] dvc94ch opened #58 "support for manipulating btf"
I'm currently trying to symbolize my kernel stack trace. It seems that `/system/kernel/btf/vmlinux` needs to be parsed and that `libbpf` and `libbpf-cargo` have support for it, but not `libbpf-rs`.

[2021-01-24 20:20] #49 closed

[2021-01-24 20:27] danobi commented on #58
Right, there's some basic BTF support in libbpf-cargo. I made sure it wasn't a total hack so it could become public API one day, but I think there's still some more work to be done before making it an API.

For one, I'd like to replace all the ID fields with `BtfType`s. That'd probably take an extra pass in `Btf::new()` but it'd make working with BTF so much nicer.

[2021-01-25 19:14] danobi commented on #57
I *think* I was following convention from bpftool: https://github.com/torvalds/linux/blob/6ee1d745b7c9fd573fba142a2efdad76a9f1cb04/tools/bpf/bpftool/gen.c#L482 , where bpftool takes the .o filename, strips the `.o` and replaces the `.bpf` with `_bpf`.

Does applying your diff fix your issue?

[2021-01-25 19:15] danobi commented on #57
Can you upload your `.bpf.o` here so I can try reproducing?

[2021-01-25 19:44] willfindlay commented on #57
It does.

[2021-01-25 19:46] willfindlay commented on #57
My project is quite large at this point, so I'll just create a minimal example for you instead. I'll also create a PR with my change in the meantime.

[2021-01-25 21:07] willfindlay commented on #57
@danobi Here's a gzipped tarball with my minimal object file.

[test.bpf.o.tar.gz](https://github.com/libbpf/libbpf-rs/files/5869672/test.bpf.o.tar.gz)

[2021-01-25 23:05] #57 closed

[2021-01-25 23:53] anakryiko commented on #58
How BTF would help you with symbolization of kernel stack traces? It doesn't record function addresses at all. What you need is to parse /proc/kallsyms. See https://github.com/iovisor/bcc/blob/master/libbpf-tools/trace_helpers.c#L160

[2021-01-25 23:54] anakryiko commented on #58
You mean have a direct reference to another type? I wonder how will look like with all the lifetimes and stuff. And how will it interact with mutable BTF? I found it so much easier to stick with IDs in Rust.

[2021-01-26 19:19] dvc94ch commented on #58
Done https://github.com/dvc94ch/rust-bpf/blob/master/bpf-utils/src/kallsyms.rs, so how would you symbolize a user stack trace? Parse `/proc/{pid}/maps` match on the address range, get the file name in the last column and try to load debug info from that file?

[2021-01-26 19:50] anakryiko commented on #58
Check what BCC is doing, it has support for symbolizing user-space stack traces. There are few different ways, with various supported features (e.g, inlined function support will need expensive DWARF parsing), etc.

[2021-01-26 22:10] danobi commented on #58
IIRC the way bpftrace does it (it uses bcc for some parts) is:
* collect/send pid+stack in bpf prog to userspace
* userspace extracts pid from stack
* userspace opens /proc/pid/exe and then walks the symbol table for each addr in the stack

[2021-01-26 22:11] danobi commented on #58
I think the only way to DWARF walk a stack is to copy large segments of the stack from prog -> userspace. And that would be quite expensive, indeed

[2021-01-26 22:29] anakryiko commented on #58
No-no, DWARF just has a special encoding for inlined functions, which is CPU-intensive to process and look up. I don't think anyone is copying lots of stack, normal stack traces are OK. You'll just end up mapping single IP into multiple functions (all but one will be inlined functions). I think you are confusing this with capturing stack trace when there are no frame pointers. That's a very differ

[2021-01-26 22:40] dvc94ch commented on #58
Yes, currently the problem is how to symbolize (find line numbers for an address) a stack trace (array of instruction pointers). Bpf has a `bpf_get_stackid` helper that walks the stack in the kernel when frame pointers are enabled. To walk the stack without frame pointers I think the dwarf `.eh_frame` section could be compiled into a bpf stack walking program based on https://github.com/frdwarf/dw

[2021-01-27 17:13] danobi commented on #58
I believe `perf` does that if you ask it to do DWARF walks. But not through bpf

I'm not 100% sure (would need to experiment) but it should be OK to do direct references to another type if it's all readonly. And it most likely has to stay read only b/c the rust types are not laid out the same as the underlying C types. So there would have to be an API for mutation. And maybe the mutation API can f

[2021-01-27 17:40] dvc94ch commented on #58
Why is that easier? From my current understanding these steps are required to symbolize a user space stack trace and I'm not aware of any "shortcuts":

1. parse `/proc/{pid}/maps`
2. for each address lookup the exe/so mapped to that range and subtract the start of the range to get the relative address
3. locate the dwarf debug info for the elf file using either
  - the debug info is in the binary

[2021-01-27 17:45] dvc94ch commented on #58
One think I find a bit unreliable is the first step. What if the program loads an `so` during runtime? So I can't read it when the program starts. What if the program unloads an `so` during runtime? I can't read it before the program ends either.

[2021-01-27 19:40] anakryiko commented on #58
Well, it's easier and much faster to just parse SYMTAB to get all the function symbols and just use that for stack symbolization. So if you don't need line numbers, you don't need DWARF at all.

BPF allows to capture build_id in stack trace, which you can use to find DWARF even after application exited or library got unloaded. But that assumes you can locate the binary by its build_id, of course.

[2021-01-29 19:37] dvc94ch commented on #58
Looks like I won't get very far with frame pointers, I can't get rust to keep them around. Looks like I'll have to try compiling `.eh_frame` into a bpf program sooner than I thought.

Below is the output from an example in my bpf library in case you're curious about what it can do. The first section prints the `build-id`, `exe-path`, `debug-info-path` of all the stuff that will be loaded into the

[2021-01-31 18:42] dvc94ch commented on #58
So I wrote a eh_frame to bpf compiler [0]. Saddly I'm hitting the 512 byte stack limit. So unless there is a way to disable it, the kernel will need to gain some assistance. Do you think that the kernel devs would welcome a new unwinder based on `.eh_elf` as described in "Reliable and fast dwarf-based stack unwinding"? [1]

- [0] https://github.com/dvc94ch/ehframe-bpf-compiler
- [1] https://hal.in

[2021-02-01 16:32] danobi commented on #58
Should be fairly trivial to workaround stack limit by using a map. Have you tried that?

Last I heard Linus was really against DWARF based unwinding. Which is why the kernel has ORC. Maybe look into what happened to this attempt: https://lkml.org/lkml/2017/5/5/571

[2021-02-01 16:47] dvc94ch commented on #58
I'm not actually reaching the stack limit I don't think. It's a really long binary search on the pc, so the generated code looks like this:

[code]
So I don't really know why clang thinks I'm using a lot of stack.

[2021-02-01 17:00] dvc94ch commented on #58
Also linus objected to the use of dwarf unwinding for kernel stack traces. I don't see it necessarily being a problem for user stack traces? And I also didn't propose adding a dwarf unwinder [0]. It is also not required to have a full dwarf unwinder as neither clang/gcc or rustc use all the possibilities that dwarf allows for. In a preprocessing or precompilation step we can easily make sure that

[2021-02-02 06:44] anakryiko commented on #58
Instead of unrolled nested if/else checks, have you tried writing this binary search as a pretty straightforward BPF loop with a limit on number of iterations (20 would give you 1mln items support, so that seems plenty). And then supply actual frame data as a map or global variable?

[2021-02-05 15:55] willfindlay opened #63 "Feature Request: Expose libbpf-cargo BPF object and skeleton generation code as a library"
Crates like [bindgen](https://rust-lang.github.io/rust-bindgen/) often expose code generation functionality via a builder pattern which can then be easily integrated into a project's build.rs file. I have found myself wanting to do something similar with libbpf-rs in one of my large projects, so it would be nice if this crate offered something similar.

Currently, as a workaround, I am just invoki

[2021-02-09 15:44] danobi commented on #63
Yeah that seems totally reasonable. I've used bindgen before and I preferred the API over the CLI too.

[2021-02-12 08:19] consra opened #64 "Parsing pinned maps"
I am trying to parse a pinned map using your crate. I have found the function `reuse_pinned_map` from the OpenMap struct, but I am unable to initiate an OpenMap structure. I don't know how I can create a variable with the type`*mut libbpf_sys::bpf_map`. I am pretty new to rust. Any help is welcome.

[2021-02-16 17:26] danobi commented on #64
Have you read the documentation here: https://docs.rs/libbpf-rs/0.7.0/libbpf_rs/#design yet?

Why are you trying to do that? libbpf-rs is designed to be a safe (in rust parlance) crate, so you really shouldn't need to mess with pointers (unsafe to dereference) to get most things done.

[2021-02-16 17:28] danobi commented on #64
Also check out https://github.com/libbpf/libbpf-rs/blob/604d950a2aea91aa8acfc14e39c08bc12e1212b2/libbpf-rs/tests/test.rs#L318-L375

That's a test that also demonstrates how to use everything end to end

[2021-02-27 13:49] dvc94ch commented on #58
so my tool cargo-trace seems to be able to capture stack traces up to a length of 24 and binary search depth of 16. Looks like things like inline assembly and c code still don't quite work.

[code]

[2021-03-03 16:38] dvc94ch commented on #58
Sorry to bother you guys again, but you've been by far the most helpful so far :) and I can not figure out how to post to the bpf mailing list, which I assume is intended as it avoids spam.

The current problem I have with `cargo-trace` is unwinding the user space stack when a kprobe is triggered. The difficulty is that the pt_regs are not the user space ones. So you need to get the task_struct us

[2021-03-05 18:14] danobi commented on #58
I think you can  use `BPF_CORE_READ(..)` to get your field reliably.

You'll probably need to disable that kernel config option. IIRC (I think I saw some discussion a long time ago about this) you cannot use struct layout randomization and BTF -- they are antithetical to each other.

[2021-03-17 15:21] bentiss opened #68 "rustfmt binary dependency not explicit"
Since the inclusion of the generation of the skeleton, I was not able to use `cargo libbpf make`, even in the example folder of a plain git clone of the project.

My problem was that `rustfmt` was not part of the default install on Fedora, and so the generation of the skeleton failed. The problem is the error message is not very explicit.

For a reproducer and the output, see the following:
[code]

[2021-03-17 18:50] danobi commented on #68
Thanks for the bug report and sorry about the bad error message.

IMO this feels like a fedora issue to me, I consider `rustfmt` to be a standard part of development tools. For example, `cargo fmt` will call out to `rustfmt` (which in my mind implies `cargo` depends on `rustfmt`).

[2021-03-17 18:52] danobi commented on #64
Closing due to inactivity

[2021-03-17 18:52] #64 closed

[2021-03-17 20:42] bentiss commented on #68
No need to apologies. I understand this might be a fedora packaging issue, and I appreciate your quick PR to make the error message much more explicit. Thanks!

[2021-03-18 17:35] vlad9486 opened #70 "Cannot build examples"
Try `cargo libbpf make --manifest-path examples/runqslower/Cargo.toml`

[code]

I suppose [here](https://github.com/libbpf/libbpf-rs/blob/630752e5cadf1570ecb6846429ae21d3c023734e/libbpf-cargo/src/build.rs#L111) need to add `-I` option, but my system has no such header. I see out dir of `libbpf-sys` containing required header. But I cannot make clang see it.

[2021-03-18 20:03] danobi commented on #70
On my system that header is installed by libbpf:
[code]
Can you try installing libbpf?

[2021-03-19 07:23] vlad9486 commented on #70
@danobi Thank you for such quick help. It works.

[2021-03-19 07:23] #70 closed

[2021-03-21 02:02] #68 closed

[2021-03-29 18:51] rtkaratekid opened #71 "Improper dropping of libbpf_rs::perf_buffer::CbStruct? Segfaulting"
I've been messing with the library for a while. I have a few thoughts on things that could potentially be improved, but I'll probably just submit PRs for those (like looping over programs and maps in a BPF object using bpf_map__next and bpf_program__next so you don't need to know the program names, I'm not using any of the CO-RE functionality). But I've hit a segfaulting bug that I'm not completel

[2021-04-01 00:33] danobi commented on #71
Thanks for the report -- I'll take a look in the morning

[2021-04-01 18:37] danobi commented on #71
So the reason we have to do all the unsafe stuff is b/c I wanted to allow closures to be used as callbacks. Otherwise you'd have to non-capturing functions and globals to share data back into your application.

Do you happen to have a reproducer I can run? Not obvious to me from the code snippets where the error is coming from. I'll try to write a repro too.

[2021-04-01 18:52] rtkaratekid commented on #71
Sure I'll try to get you a small version of one, might be by tomorrow though. Appreciate you looking into it.

[2021-04-01 19:07] danobi commented on #71
Never mind, got a repro. Looking into it now

[2021-04-02 01:43] danobi commented on #71
So that took an immense amount of head scratching but I think I know what it is now.

I think it has to do with rust optimizing the callback into a zero sized type (simple example here: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=639c9c436266def36eaf7481ca846f1b ). This is exacerbated by the fact that `impl Drop for CbStruct` loses the callback type information. I'll wo

[2021-04-02 02:11] danobi commented on #71
@rtkaratekid  can you see if #72 fixes your issue?

[2021-04-02 13:07] rtkaratekid commented on #71
@danobi I'll try to get to it today and let you know.

[2021-04-02 13:56] rtkaratekid commented on #71
Alright, so the fix works! Thanks for looking at that. I ended up suspecting that it was a typing issue, but I don't know that I would've figured the fix you did.

Something to note is that this changes how you have to store a `PerfBuffer` type in a struct or something where you have to declare the type. I have it stored in a struct and I had to add the types I expected. e.g.
[code]

Then, in the

[2021-04-02 17:23] danobi commented on #71
Ah dang, yeah good point. Lemme look into some type erasure techniques today

[2021-04-02 20:33] danobi commented on #71
FWIW this was a cool video: https://www.youtube.com/watch?v=UnZVNoBC1RE

Learned some new tricks.

[2021-04-03 04:17] #71 closed

[2021-04-05 13:37] rtkaratekid commented on #71
It looks great! That vid was really interesting as well.

[2021-05-03 18:00] rtkaratekid opened #77 "Feature request: looping over programs in loaded Object"
I think it would be really handy for non-CO-RE programs to have something like the libbpf function and macro that allows for looping over all the available programs in a BPF object. Currently I don't think the `progs` Vec is populated when an `Object` is created, so you _have_ to search for the program(s) by name. Because you have to know the program names ahead of time, you can't just load and at

[2021-05-03 18:50] rtkaratekid commented on #77
Here's my naive and probably not so clean solution that might work. I haven't tested it but I might be able to get to it today.
object.rs
[code]

[2021-05-03 22:31] danobi commented on #77
Seems reasonable to me. @anakryiko WDYT? I have a vague recollection of us discussing this at one point.

[2021-05-04 14:34] rtkaratekid commented on #77
Okay sorry for spamming with comments, but I think having functions do this outside `new()` would be better. Then you can keep the `HashMap`s empty if you don't want to do that work prior to a user indicating they need it. If they do indicate they need it, you can set the struct's `HashMap` and return it. This is for programs but obviously this could be done for maps too.
[code]
Then, to loop over

[2021-05-05 00:40] anakryiko commented on #77
Having ability to iterate BpfObject's maps and progs are obviously a good feature. Don't remember in what context we were discussing this, though, and if there are some Rust-specific gotchas there?

[2021-05-05 18:25] danobi commented on #77
I don't think there are any gotchas. @rtkaratekid feel free to put up a PR -- will be easier to discuss the code there

[2021-05-05 18:37] rtkaratekid commented on #77
I'll get one up today or tomorrow

[2021-05-05 19:06] masmullin2000 opened #78 "[libbpf-cargo] Add ability for user defined Default"
Arrays cannot be #[derive(Default)] if they are > 32 in length.

As such, the line https://github.com/libbpf/libbpf-rs/blob/master/libbpf-cargo/src/btf/btf.rs#L348 will fail compilation for larger arrays.  Because the struct is defined as default per this line of code, the user cannot impl Default themselves.

Arrays of longer than 32 can have user defined Default so long as the generated skeleton

[2021-05-05 20:34] rtkaratekid commented on #77
PR submitted. I've got another PR I might submit soon regarding being able to define the `ctx` that is passed to the perf buffer opts when it's built. Makes it a bit easier to give context to callback functions.

[2021-05-05 22:29] danobi commented on #78
Thanks for the report.

I think this is the best approach. I'd rather not add flags when we can just do the right thing. I think it should be straightforward to do this too. I'll take a look tomorrow.

[2021-05-05 22:42] masmullin2000 commented on #78
@danobi Would you mind if I tried my hand at this ticket?

I would like to become a contributor to this project, and this bug is something I'd like to start with if it's OK with the rest of you.

[2021-05-05 22:43] danobi commented on #78
That would be much appreciated :)

[2021-05-05 23:08] danobi commented on #78
Feel free to comment here if you need any hints or have questions

[2021-05-07 21:44] mimullin-bbry commented on #78
I have created a "first draft" of the solution.  I have yet to implement proper tests (only one test added), but I'd like feedback to see if I am totally off course or not.

https://github.com/mimullin-bbry/libbpf-rs/commit/bb678ba0cb4aadf08be924e46d2030aaa3d05cf4

[2021-05-08 16:36] mimullin-bbry opened #81 "[Bug: libbpf-cargo] Structures with Inner unions not correctly constructed"
The following Test Case wil fail
[code]

I am not sure what the output should be, but it should definitely not be the value contained in foo_defn

[2021-05-08 22:24] mimullin-bbry commented on #81
Actually, I have made a mistake in my C nested union->structure understanding.  The generated code is correct, as, while the C structure will pass compilation in C, the inner union Bar does not declare anything.

A C compiler will spit out a warning of "warning: declaration does not declare anything"

[2021-05-08 22:24] #81 closed

[2021-05-11 02:50] danobi commented on #78
@mimullin-bbry it looks like you went a step further than what I was thinking and actually generated code for proper `Default` implementations. I was actually just thinking we omit the `#[derive(Default)]` from structs whose members (recursively) contain a  `[T;N]`, where N > 32. Then the user can implement their own Default. What are your thoughts about that?

[2021-05-11 16:14] mimullin-bbry commented on #78
I've worked on projects where a developer needed to maintain equivalence between the C-BPF struct and the struct as seen in the 'userspace' codebase (we used c++/bcc).

It was painful and could cause subtle bugs.  I'm not sure if Rust would erase the subtle bugs by just not compiling if the developer defined Default didn't properly match the C-BPF, but the pain of maintaining the structure twice (

[2021-05-11 17:07] danobi commented on #78
I think rust errors out if the Default implementation doesn't match the struct def. That being said, I buy your argument. Probably better to have libbpf-cargo just do the right thing.

https://blog.rust-lang.org/2021/02/26/const-generics-mvp-beta.html

Yeah, was hoping the ongoing work solved this issue but doesn't look like it's done yet.

[2021-05-11 17:11] danobi commented on #78
I think the logic might be a bit cleaner if we could have these kind of code paths:

[code]

IOW, I think the logic would be easier to follow if we put stuff in helper methods. It might be easier if you put up a PR so I could comment on the code easier.

[2021-05-12 18:37] danobi opened #88 "Reduce boiler plate in libbpf-cargo tests"
Right now there's a bunch of integration tests in libbpf-cargo that have a huge amount of boiler plate. I think that could easily be reduced. Just scroll through the libbpf-cargo/src/test.rs and you'll see it.

[2021-05-13 03:27] rtkaratekid commented on #77
Closing since there are two PRs addressing this #79 and #90

[2021-05-13 03:27] #77 closed

[2021-05-14 17:45] mimullin-bbry opened #92 "[Libbpf-rs] Support context in sample_cb and lost_cb"
Right now, sample_cb and lost_cb receive two parameters. (cpu: i32, data: &[u8]) and (cpu: i32, count: u64) respectively.

It would be useful to allow a user defined type as context such as a *mut, or a <T> such that
sample_cb(ctx: *mut, cpu: i32, data: &[u8])
or
sample_cb<T>(ctx: T, cpu: i32, data: &[u8])

[2021-05-17 17:16] danobi commented on #92
Like a C-style context pointer to save some data in?

If so, better to use a capturing closure. We were very careful to design `PerfBuffer` and `RingBuffer` callbacks such that users can use capturing closures to store/access whatever data they need to process events.

[2021-05-17 17:54] mimullin-bbry commented on #92
Forgive me for my C++ brain.  I might not understand how to do what I want in Rust.

What I am looking for is a way to pass into my sample_cb function two things.

1 - a structure to maintain state (which can be accomplished via globals in a thread_local!(), which is kinda dirty but gets the job done.

2 - various sides of a channel (I only need a single producer single consumer, but an std::threa

[2021-05-17 18:09] danobi commented on #92
You can use `Arc<Mutex<T>` pattern to share data between the callback and your main thread: https://doc.rust-lang.org/stable/std/sync/struct.Mutex.html#examples

Yes, see example here: https://github.com/libbpf/libbpf-rs/blob/8fcbba1bfc68b54ec24658cc41db93897a797e73/libbpf-rs/tests/test.rs#L501-L509

[2021-05-17 18:15] #92 closed

[2021-05-17 18:48] mimullin-bbry commented on #88
If this issue is not already being worked on, I can spend some cycles on it.

[2021-05-17 18:55] danobi commented on #88
Don't believe it's being worked on yet. Would be much appreciated!

[2021-05-17 22:50] #63 closed

[2021-05-18 14:11] willfindlay opened #95 "Skeleton generation silently fails when using a typedefed type as a BPF CO-RE global"
The following minimal example will cause skeleton generation to silently fail, producing an empty `mod.rs` file:
[code]
The following diff currently works as a workaround, but it would be nice if we could support using typedefed types directly. Is this technically feasible? At the very least this should be a hard error during skeleton generation if we cannot support it.
[code]

[2021-05-18 21:09] danobi commented on #95
I see what's going on. Skeleton gen code is not properly checking for rustfmt errors. And rustfmt is failing b/c enum does not have a name.

I'll put up a fix

[2021-05-21 14:28] willfindlay opened #99 "Skeleton: No default implementation for generated enum types"
Using an enum as a member of a struct results in a compilation error due to the generated skeleton not implementing default for the enum.

I'll use the same minimal example as last time, but modified slightly:
[code]

This produces the following skeleton:
[code]
As you can see, test does not implement Default and therefore `#[derive(Default)]` on the foo causes a compilation error.

[2021-05-21 14:29] willfindlay commented on #99
Once this is fixed, we should probably add this as a test case for libbpf-cargo.

[2021-05-22 21:18] mimullin-bbry commented on #99
I have a first draft of a fix to this at

https://github.com/mimullin-bbry/libbpf-rs/tree/enum-default

Needs tests, not sure how I feel about t.values[0].name on line 451

[2021-05-22 21:21] willfindlay commented on #99
@mimullin-bbry Thanks a lot, I'll have a look shortly.

[2021-05-22 21:40] willfindlay commented on #99
This looks reasonable to me. I wonder if perhaps it makes sense to give the user the option to discard such a "default" (for lack of a better word) Default impl on a per-type basis. Perhaps as an option to the skeleton generation builder? Could also apply this to other types. Bindgen does this, for example: https://docs.rs/bindgen/0.58.1/bindgen/struct.Builder.html#method.derive_default

[2021-05-22 22:12] mimullin-bbry commented on #99
PR #100

https://github.com/libbpf/libbpf-rs/pull/100

I do not know how to link PRs to Issues on github.

RE: Should user be given the choice to create their own impl Default

I personally feel that generated defaults solve 95% the use cases, but there are those 5% use cases where a developer may get a bit frustrated with pre-made Defaults.  These 5% can be worked around fairly simply, but it doe

[2021-05-24 22:16] danobi commented on #99
Adding an option to the builder sounds reasonable to me.

But doing it per-type could cause annoyances. You'd probably have the user pass in the name of the type they don't want `Default` for. And if that name ever changes it could cause a silent change in behavior.

I agree. We should keep the default behavior to generate `Default` b/c that's useful for more people. For the other 5%, we can give

[2021-05-25 15:20] willfindlay commented on #99
Bindgen supports both a `derive_default` setting which controls default behaviour and `no_default` which turns off derive Default for a specific type(s). Personally, I think it would be nice to support both, although I agree that it could result in undesired side effects when renaming a type.

+1

[2021-05-30 20:52] willfindlay commented on #99
Fixed in #100

[2021-05-30 20:52] #99 closed

[2021-05-30 20:53] willfindlay commented on #78
This can probably be closed now since it was fixed in #101

[2021-05-30 21:59] masmullin2000 commented on #78
fixed

[2021-05-30 21:59] #78 closed

[2021-06-01 19:59] willfindlay opened #105 "Add the ability to iterate over links"
As of #90 we now have the ability to iterate over maps and programs using the underlying Object and OpenObject. It would be nice to be able to do the same thing for Links. That way the user could, for example, easily disconnect every single link once #104 lands.

Unfortunately, the path forward is not so clear, since Links are not exposed by Object but rather by the generated skeleton itself. The

[2021-06-02 20:13] anakryiko commented on #105
Links are way more dynamic objects that are created (potentially multiple times) by user code, not just skeleton. So it's entirely different class. I don't see any other way than either for user to keep track of its own links with custom code or iterating all links system-wide and seeing which links are against programs that belong to application's object.

[2021-06-02 20:51] davide125 opened #107 "libbpf-cargo tests do not work outside of the git repo"
Looks like the tests assume they're being run in the git repo, where the `libpf-rs` sources are one level up in path. This is not the case when building from the crate (e.g. when packaging this in Fedora).

[code]

[2021-06-02 21:06] willfindlay commented on #105
Makes sense, thanks for the explanation.

Seems like links were added the libbpf-rs skeleton in 4c7b26023d2ae2f1e4c94e779329cf566bd937cb with the idea being that it makes the user's life easier to manage links generated by `skel.attach()`. Seems like this isn't the most idiomatic approach to begin with, based on what you're saying here...

That being said, since we _are_ storing these links anyway

[2021-06-02 21:10] danobi commented on #107
I left this comment in the code when I added the tests:
https://github.com/libbpf/libbpf-rs/blob/ff02672b2f1cdf73a770d3c87c9ebf2ddd21e575/libbpf-cargo/src/test.rs#L99-L103

We need the local libbpf-rs so that the libbpf-cargo tests stay in sync.

I guess we could add an environment variable to control the location of libbpf-rs but that's also suboptimal. WDYT?

[2021-06-02 21:10] davide125 opened #108 "libbpf-cargo fails to build for non-x86_64 architectures"
See https://koji.fedoraproject.org/koji/taskinfo?taskID=69201098 for examples (look at `build.log`)

[2021-06-02 21:14] davide125 commented on #107
Yeah, an env variable would work I think; you probably want to also document this in the README. Not sure if there's a better / more straightforward way to handle this...

[2021-06-02 21:23] danobi commented on #107
The packaging system still uses cargo, right? If so, can you share the cargo command they use? Just wanna see if there's better options first

[2021-06-02 21:33] davide125 commented on #107
Yeah, it uses cargo. The macro is this one: https://pagure.io/fedora-rust/rust2rpm/blob/master/f/data/macros.cargo#_70 but I can't get it to spit out the actual command it's running.

[2021-06-02 21:45] danobi commented on #107
Lol I can't even guess what that expands to. I just tried
[code]

from outside the git repo and that still worked. Must be some other weird invocation

[2021-06-02 21:55] davide125 commented on #107
It's running `/usr/bin/cargo test -j8 -Z avoid-dev-deps --release --no-fail-fast` from the crate (not from the git repo).

[2021-06-02 22:00] danobi commented on #105
You're right that it's a convenience thing. But I'm not sure I agree with the idiomatic bit. I think it's fine to store `Link`s in the skeleton for user convenience.

However, the inverse is more problematic. It seems difficult, as a framework, to provide a reliable iterator over `Link`s such that the user can disconnect _every_ link. Any such interface like that may be misleading b/c of races and

[2021-06-02 22:02] #108 closed

[2021-06-02 22:05] danobi commented on #107
Oh I see. So the `libbpf-rs` (crate) source probably isn't even available. So would an env var even help?

[2021-06-02 22:13] davide125 commented on #107
It's available as part of the devel package: https://koji.fedoraproject.org/koji/rpminfo?rpmID=26352823 which is pulled in as a build dependency

[2021-06-02 22:46] willfindlay commented on #105
Right. I suppose I'll have to bite the bullet and just handle things manually in my project.

Sure. I'll make a PR at some point. For now, I'll close this.

[2021-06-02 22:46] #105 closed

[2021-06-03 16:18] willfindlay commented on #107
What about falling back to the crates.io version if `get_libbpf_rs_path()` fails?

[2021-06-03 17:43] danobi commented on #107
@davide125 are there any instructions for how to reproduce locally? cargo sets a bunch of handy env variables which I think I can make work but I need to know the directory structure of the koji builds.

[2021-06-03 17:43] danobi commented on #107
Hmm, I don't love the idea of downloading from the internet for unit tests. And especially if you're making a local change that spans libbpf-rs and libbpf-cargo things could go weird.

[2021-06-03 18:03] davide125 commented on #107
Fedora builds don't have access to the Internet (that's true for most distros actually). You can repro a build on any Fedora box with `mock` installed, using:
[code]
This will fail the tests (drop the `--with=check` if you want it to skip tests and complete successfully). You can then use
[code]
to inspect the build environment. If you need extra packages for troubleshooting you can get them insta

[2021-06-03 22:07] danobi commented on #107
Chatted offline: probably makes the most sense to disable the integration tests during packaging

[2021-06-03 23:39] davide125 commented on #107
This seems to be doing the trick:
[code]

[2021-06-07 03:08] mimullin-bbry commented on #88
Sorry that this took me so long to get a PR up.  I was very busy last week.

[2021-06-14 20:45] #107 closed

[2021-07-11 18:20] mimullin-bbry opened #119 "Rust Cannot Derive Debug for unions"
[code]

The above code will not compile in rust.  As such in libbpf-cargo https://github.com/libbpf/libbpf-rs/blob/master/libbpf-cargo/src/btf/btf.rs#L469
this code which puts a #[derive(Debug...] on a union will create invalid code.

[2021-07-11 18:48] mimullin-bbry commented on #119
This issue is pernicious.

If a union cannot be Debug, then a struct which has said union as a field cannot be debug.  We can test for this when building the struct.

However, if a union is a field of a struct, and said struct is a field of another struct, that "second level" struct also cannot be Debug.  The libbpf-cargo code generation doesn't look multiple levels deep.

Choice is the remove #[d

[2021-07-23 18:12] #119 closed

[2021-07-26 19:58] DevasiaThomas opened #123 "Development Enviroment"
I'm sorry if this is not the right place to ask this, but my question revolves around me trying to tweak certain things in the runqslower example within this repo as part of my foray into ebpfs.

I was able to clone this repo, build and successfully run runqslower. However, when I opened this up in an IDE (I use CLion) ,code navigations into the bpf helper functions in C code didn't work as it did

[2021-07-27 04:12] danobi commented on #123
Maybe try installing libbpf-dev package? Not sure if clion is smart enough to find system headers

[2021-07-27 04:12] #88 closed

[2021-07-28 04:00] DevasiaThomas commented on #123
@danobi Thanks for the quick reply and suggestion, I already had that package installed. It didn't work for me then. But this morning I tried opening the linux source in CLion (they have a [guide](https://docs.google.com/document/d/1--WGVMf4aR2BLQ7DHtqmLVbjICQgos3Qua7-Py9vIo4/edit)) as a different project, so that I could do some partially-manual code searches, and after an hour or so something cl

[2021-07-28 04:00] #123 closed

[2021-07-30 02:32] thesw4rm commented on #123
My environment is neovim/vim, but I think this can apply to CLion or other editors. I basically created a .ccls file in my project that links to the bpf userspace library. I then compiled the Linux kernel source into a compile_commands.json and made a symbolic link to the root of my project. CCLS will basically build an index of all these things for me and search them whenever I open a C related f

[2021-08-06 19:50] mimullin-bbry opened #127 "[libbpf-cargo] Rust Compiler complains about snake-case enums"
The Rust compiler complains about snake cased enums

eg
[code]
[code]
[code]

[2021-08-06 21:05] anakryiko commented on #127
can we disable this warning for auto-generated types? I think preserving the original name is good.

[2021-08-06 21:09] mimullin-bbry commented on #127
Pretty sure we could add
`#![allow(non_camel_case_types)]`

around here
https://github.com/libbpf/libbpf-rs/blob/master/libbpf-cargo/src/gen.rs#L666

Was going to work on it this weekend.

[2021-08-13 19:47] DevasiaThomas opened #129 "bool in bpf code becomes u8 in generated skeleton code"
Hi,

The current skel generation does this. I was looking up how to convert the bool properly to u8 when I found [this](https://stackoverflow.com/a/47705543/2277013) . Any thoughts on why the skel generation represents bool in C as u8 in Rust? Also, how would you convert rust bool to rust u8 so that the bool value does get passed to bpf code?

Thanks in advance

[2021-08-14 03:55] DevasiaThomas commented on #129
I got this right now
[code]
or is something that uses transmute, like [this](https://stackoverflow.com/q/36924530/2277013), be used?

[2021-08-16 18:50] danobi commented on #129
Thanks for the report! This is a bug with libbpf-cargo. See the attached PR for the fix.

[2021-08-16 19:11] #129 closed

[2021-08-16 19:29] DevasiaThomas commented on #129
Thanks @danobi  :)

[2021-08-17 15:27] #127 closed

[2021-08-20 06:02] AlexZhao opened #132 "do you plan to support percpu based map accessing from the libbpf-rs's map functionalities?"

[2021-08-24 02:46] danobi commented on #132
Yeah, we do. I'll pick up #113 this week if there's no further activity

[2021-08-24 11:45] AlexZhao commented on #132
I try to write one for this percpu access functionalities, if need, I can provide this codes which based on your normal lookup functionalities.

[2021-08-24 17:59] danobi commented on #132
That'd be great if you could contribute the percpu code (If I'm understanding correctly)

[2021-09-15 05:33] AlexZhao commented on #132
BTW, Do you accept new developer for this sw project? if still need helper on developing this libbpf-rs, I can also help to join this.

[2021-09-17 17:05] anakryiko commented on #132
Yes, of course, all the contributors are welcome. There is just a limited amount of time in a day and week to do all the code reviews, so sometimes it take long to review the code. But also see https://github.com/libbpf/libbpf-rs/pull/113 as this work is already underway.

[2021-09-21 19:37] mimullin-bbry opened #133 "Suggestions on how to get started integrating the new TC Hooks into libbpf-rs"
Hello.  I'd like to try my hand at integrating the new TC hooks into libbpf-rs.

This seems like a very daunting task for me though.  @danobi Do you have suggestions on how to tackle this project?

[2021-09-21 19:38] mimullin-bbry commented on #133
https://github.com/alexforster/libbpf-sys/blob/master/src/bindings.rs#L3754

[2021-09-30 21:08] danobi commented on #133
Sorry about the delay.

First, let's decide if adding the hooks makes sense. Seems fine to me. @anakryiko had plans to move some networking stuff out of libbpf -- does TC apply here?

I think the next logical step would be to draft up the API additions/changes. Like what new enums/structs we need to create. Once we agree on an API implementing should be relatively straight forward.

[2021-09-30 21:48] anakryiko commented on #133
@mimullin-bbry which part is a daunting part? libbpf already has TC-related APIs (https://github.com/libbpf/libbpf/blob/e671a47bc279c6a73d1fee5aa522b0979fd1a33a/src/libbpf.h#L652-L693), are you saying "projecting" that to Rust would be hard? Or there are some other challenges?

[2021-10-01 15:01] mimullin-bbry commented on #133
@danobi @anakryiko No worries on the delay.  I too am swamped at my day job right now and haven't been given time to 'play'

When I get some time, my 'method of attacking' the issue will be to play with libbpf in C, then learn how to do it in libbpf_sys then see how to integrate that into the libbpf-rs project.

W.R.T. moving networking (I am assuming both TC and XDP fall into this statement) out

[2021-10-01 16:04] anakryiko commented on #133
only the AF_XDP parts are being moved into libxdp, as they have little to do with BPF per se, and it's mostly user-space setup of everything, including custom ring buffers and stuff. But all the BPF APIs to attach to XDP, TC and stuff like that stay in libbpf. Basically, if you look at libbpf source code, xsk.c and xsk.h will be moved, everything else stays.

[2021-11-01 16:14] DevasiaThomas opened #139 "Getting code to run cross OS(host) through containers"
I have got it working , but I think only partially. @danobi I would like your thoughts on this.

My host is Ubuntu, so is container. But apparently the container comes with BTF info, even though it actually doesn't contain a kernel? I am mounting, right now, just ``sys/kernel/debug`` for the ``capable`` example. And its working, but its probably using the btf from within the container and I'm gett

[2021-11-01 16:46] mimullin-bbry commented on #139
Hi @DevasiaThomas Which ubuntu are you running?

If you are running 21.04 or beyond (I haven't tested against 21.10, but I assume they didn't regress this), then yes, you will need to mount /sys/kernel/btf to utilize btf relocations.

the Capable example does not require any btf relocations (eg it isn't doing any BPF_CORE_READ stuff).  But as you start playing, btf relocations will become a need f

[2021-11-01 17:30] #133 closed

[2021-11-01 22:32] DevasiaThomas commented on #139
My host is 21.10 and my container was 21.04.

Yes, my concern was mainly around if I decided to run the Ubuntu container on a modern RHEL OS as is, I would run into problems with the wrong BTFs.

Lol, I should have looked at what I wrote in capable first! I thought I was using the task struct field for ``comm_str`` for which I would have done a CORE read. Thanks for pointing it out :) .  But yes,

[2021-11-01 22:32] #139 closed

[2021-11-03 19:06] #132 closed

[2021-11-03 22:26] DevasiaThomas commented on #139
@mimullin-bbry I came across the below in [tracee](https://github.com/aquasecurity/tracee#quickstart)

Their instructions don't talk about mounting the BTF directory that I asked about. Any insights?

[2021-11-08 08:44] Dinakaranevil opened #142 "Not able to build the project"
I have installed this library using git and wanted to run some scripts
[code]
i am getting this following error when i try to run the command cargo build

my Cargo.toml looks like this

[code]

[2021-11-08 21:47] anakryiko commented on #142
Probably related to recent changes (https://github.com/libbpf/libbpf-rs/commit/ebc55bae01b9de644491f628ab95aeb1a4069edd). @mimullin-bbry any suggestions?

[2021-11-08 21:48] #58 closed

[2021-11-08 21:48] #28 closed

[2021-11-08 22:20] mimullin-bbry commented on #142
From the look of his cargo.toml where he has the source code on his machine using path = "..", he might need to pull the change you listed.

However, we also see a similar issue where if we have a cargo toml of

[dependencies]
libbpf-rs = "0.13"

This will pull the "shipped" version of libbpf-rs (ie https://github.com/libbpf/libbpf-rs/commit/ec88b9caea7ef95d99ca209838dcafa6cf2187cc), but libbpf-sy

[2021-11-08 22:31] mimullin-bbry commented on #142
To reproduce this issue follow the given steps
[code]

The change I requested (https://github.com/libbpf/libbpf-rs/commit/ebc55bae01b9de644491f628ab95aeb1a4069edd) solves the issue.

[2021-11-08 23:14] mimullin-bbry opened #143 "All Examples should use the same vmlinux.h file"
No need for every example to have it's own vmlinux.h file.

Put one vmlinux_505.h inside of a ./examples/header/ directory and have all examples' vmlinux.h files soft link to that. (or something similar)

[2021-11-08 23:34] mimullin-bbry commented on #139
@DevasiaThomas Interesting.  config.gz and /boot/config-$(uname -r) are methods of determining if the kernel was compiled with BTF info.  Neither of these files will include the BTF info, but rather will allow you to grep for CONFIG_DEBUG_INFO_BTF.

The two files are the .config you get out of configuring a kernel, they aren't the BTF info files.

Upon grepping, if you see
CONFIG_DEBUG_INFO_BTF=y

[2021-11-09 23:29] DevasiaThomas commented on #139
@mimullin-bbry Yup! I will let you know. The ``--privileged`` only adds all the capabilities available on the system. Else I wouldn't have to mount the /sys/kernel/debug folder.

Also does the kernel have to be compiled with ``CONFIG_DEBUG_INFO_BTF=y``? or do you just have to provide BTF info for that kernel? what I mean is if I had a target host OS that was never compiled with that option, but I

[2021-11-10 15:24] DevasiaThomas commented on #143
@mimullin-bbry I had a few questions about this :). does the vmlinux.h file vary across OS distros for the same kernel version? Is it better to compile with a vmlinux.h from a higher kernel version or lower one when considering CO-RE applications?

[2021-11-10 16:08] mimullin-bbry commented on #139
You just have to provide the BTF info

Yes.  I have personally done this for Ubuntu 20.04 kernel version 5.8 aws, gcp, oem and hwe.  I have however failed on PhotonOS.

[2021-11-10 17:04] DevasiaThomas commented on #139
Thanks this is good to know.

[2021-11-10 17:08] DevasiaThomas commented on #143
Hmm, I commented on that PR before I read this, because I was worried about CO-RE.  I'll continue the conversation there. #144

[2021-11-10 23:52] anakryiko commented on #142
I just published libbpf-rs 0.14.0 and libbpf-cargo 0.9.3, please update and try if that fixes your issues. Thanks.

[2021-11-11 01:05] anakryiko opened #148 "libbpf-rs: Add contributing guidelines"
Let's add contributing guidelines (https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors#about-contributing-guidelines).

We should mention few common things:
1. squashing commits that were added to address feedback (commit should be a self-contained change, not spread out across multiple commits and two separate cha

[2021-11-11 01:09] anakryiko commented on #139
The simplest way to check if kernel provides BTF is to check the existence of /sys/kernel/btf/vmlinux. It should be always there if sysfs is mounted. I don't know what are the implications w.r.t. containers.

Libbpf (and thus probably libbpf-rs) provides a way to specify custom kernel BTF through a file if kernel doesn't have its own. Search for BTFHub and BTFGen discussion upstream. This is mostl

[2021-11-11 01:20] anakryiko commented on #143
Generally newer kernels have more features so it makes sense to use newest vmlinux.h. You'll still have to take into considerations all the incompatible changes in old kernels.

You most certainly don't want to base this on distro-version-kernel triple if at all avoidable. BPF CO-RE provides various mechanism to both detect which specific set of features/fields kernel provides, as well as an abili

[2021-11-11 02:31] mimullin-bbry commented on #142
both
libbpf-rs = "0.14"
and
libbpf-rs = "*"

verified working for our project.  Thank you @anakryiko

Note: You may wish to update the readme file and the description of the project on crates.io as both point to 0.11 and 0.8 for libbpf-rs and libbpf-cargo respectively.

[2021-11-11 15:55] mimullin-bbry commented on #143
@anakryiko Thank you for helping to educate us.  BPF has been lacking some good documentation, and your recent posts have helped spread some good knowledge.  EG I had no knowledge of bpf_core_field_exists() until yesterday.

A lot of my suggestion to use older kernels rather than newer kernels comes to missing bpf-helper functions and missing features such as bpf_ringbuffers. And of course, the dr

[2021-11-11 17:59] anakryiko commented on #143
As for the recommendation to go with newest vmlinux.h is at least partially because if you want to take advantage of some newer BPF feature in kernel (like newer map, newer BPF helpers, etc), having all the definitions in vmlinux.h is useful because you just can straight use those CO-RE feature-checking helper (field_exists, type_exists, enumval_exists) to decide what you do. If you use older vmli

[2021-11-11 20:00] mimullin-bbry commented on #143
I do youtube videos where I attempt to document my learnings about Linuxy stuff.  A considerable amount of my content is around introductory BPF concepts.  I do this because I find audio and video are better for my brain to digest than written text, and I assume there are other people like me.

With your permission, I've learned a great deal from this discussion with you @anakryiko and @DevasiaTho

[2021-11-11 20:22] DevasiaThomas commented on #143
@mimullin-bbry I'm in the same boat as you. I'm learning through examples and questions that everyone answers here and examples from regular libbpf in bcc and some tracee code.

[2021-11-11 20:37] mimullin-bbry commented on #139
@DevasiaThomas feel free to email me at masmullin at gmail dot com if you ever want to talk BPF :)

[2021-11-11 21:51] anakryiko commented on #143
Of course, I didn't write it for myself :) Please ping me with the URL when you have it ready, I'd be curious to check it out. Thanks.

[2021-11-16 12:38] #142 closed

[2021-11-16 13:31] Dinakaranevil opened #150 "issue with bpf_d_path when used along with inode_getattr"
This is the Programme that i am trying to execute
[code]
but getting this error

[code]
Is this error more related to permission to use bpf_d_path along with inode_getattr or something else please let me know how to fix this

[2021-11-16 18:28] anakryiko commented on #150
This is general BPF question, which is best sent to bpf@vger.kernel.org.

But !read_ok means that value wasn't initialized (buf, in this case). You cannot just pass uninitialized pointer, you need to also have a storage allocated. So try something like `char buf[128];` for starters. But normally buffer is going to be pretty big and won't fit on stack, so you'll have to use either some map or ringb

[2021-11-16 18:28] #150 closed

[2021-12-07 19:27] mimullin-bbry opened #155 "bpf_printk: breaking skeleton generation"
The following patch breaks compilation of examples

[code]

The following is observed during a cargo build
[code]

[2021-12-07 21:24] mimullin-bbry commented on #155
Additional Info.

Adding the following patch solves the problem.

[code]

Using BPF_NO_GLOBAL_DATA as default when doing a SkeletonBuilder, or clearly documenting that users must enable BPF_NO_GLOBAL_DATA when using bpf_printk (and limiting to printing three variables).  Might be a temporary work around.

A naive solution is to apply the following diff.
[code]

But this is super kludgy.

[2021-12-07 21:51] anakryiko commented on #155
libbpf-rs should skip generating fields for static variables. That's what we did for libbpf skeletons a while ago and mandate that only global variables make it to the skeleton.

[2021-12-09 05:58] Dinakaranevil opened #157 "how to push the data from kernel space to user space using this library"
I have a char array of size 128  in the kernel space code that is my_example.bpf.c

how to view this data to user space that is to main.rs

can someone help me with some code snippets

This is my example.bpf.c
[code]
This is my main.rs file
[code]
how to push this variable cached to user space programme to main.rs code

[2021-12-09 18:26] mimullin-bbry commented on #157
You should investigate either a ringbuff or a perfbuff.

An example of using a perfbuff is found here:
https://github.com/libbpf/libbpf-bootstrap/tree/master/examples/rust/tracecon

I cannot find a good example of a ringbuff, but it's very similar to a perfbuff in usage.

Let me know if you need further help.

[2021-12-09 18:49] anakryiko commented on #157
@Dinakaranevil you can check https://nakryiko.com/posts/bpf-ringbuf/ for information on how to use BPF ringbuf and BPF perfbuf (and differences between them). It's libbpf-focused, but libbpf-rs APIs are very close and use libbpf APIs underneath.

[2021-12-09 19:22] #155 closed

[2021-12-09 19:47] mimullin-bbry opened #159 "Bump-mem-limit is annoying."
See: https://github.com/libbpf/libbpf/issues/369

@anakryiko If this issue is addressed in libbpf will libbpf-sys and libbpf-rs get this functionality "for free" or will a similar change need to be made to the rust libbpf ecosystem?

[2021-12-09 19:53] anakryiko commented on #159
That's the immediate next thing I'm adding to libbpf, btw. We should probably make libbpf-rs opt-in into libbpf 1.0 mode starting from the next release? If that will be the case, then yes, everything will happen automatically. libbpf will probably expose additional API to specify the RLIMIT value itself (by default it will be set to infinity), so we might want to expose that to libbpf-rs, but othe

[2021-12-10 14:01] Dinakaranevil commented on #157
I got it working thanks for the help @anakryiko & @mimullin-bbry

[2021-12-10 14:01] #157 closed

[2021-12-11 21:05] mimullin-bbry commented on #159
Looks like from your change to libbpf (https://github.com/kernel-patches/bpf/commit/2b675ff210fbc2032824029cc16bb44b51ac0614) we will not need any changes to libbpf-rs.  If a new API is added to libbpf to specify the rlimit we can create a new ticket to track the work of exposing that API in libbpf-rs.

[2021-12-11 21:05] #159 closed

[2021-12-29 19:40] jyn514 opened #163 "Non-deterministic output starting in libbpf-cargo 0.8+"
I tried the following:
[code]

This makes it annoying to commit the generated file to git, since it will always be marked as out of date.

[2021-12-29 19:41] jyn514 opened #164 "Hard error if a `package.metadata.*` section exists that isn't `.libbpf`"
[code]

The short-term workaround is to comment out the `[package.metadata.deb]` section, but it would be nice for it to just work.

[2021-12-29 20:09] jyn514 commented on #163
I've bisected this to 46ca228836ae9b4b2c8bd61a48ea58f0a303690f.

[2021-12-29 20:23] jyn514 commented on #163
I think what's going wrong is that clang sometimes chooses the system headers and sometimes chooses the vendored headers. I'm not sure how to make that deterministic - I tried using `-iquote` instead of `-I` and changing my downstream .c program to use `"bpf/bpf_endian.h`, but it didn't help for some reason.

[2021-12-29 21:17] #164 closed

[2021-12-30 17:39] jyn514 commented on #163
This can't be it - I removed my system headers altogether and I'm still getting non-determinism. So I guess something in the vendored headers themselves causes non-determinism?

[2021-12-30 17:43] jyn514 commented on #163
Here's the diff between the system headers and the vendored headers:

<details>

[code]

</details>

(there might be other differences but my program doesn't include any other headers)

[2021-12-31 23:42] mimullin-bbry commented on #163
@jyn514 The headers which come from libbpf-sys (via libbpf) may be updated between versions.  Could this be the cause if your non-determinism?

Note that beyond the DATA slice, libbpf-cargo has been undergoing improvements, and the actual Rust Code generated may change between versions (eg https://github.com/libbpf/libbpf-rs/commit/3b072c886e68171db510b715d9a8a7d592e6d4d3).

Thus as libbpf-cargo i

[2022-01-03 15:50] jyn514 commented on #163
@mimullin-bbry no, I specifically mean changes *within* the same version, i.e. running the same command twice gives different outputs.

[2022-01-03 16:12] jyn514 commented on #163
Here's an MCVE:
[code]
If you comment out `bpf_sk_select_reuseport` it's deterministic; if it's uncommented, it's nondeterministic.

[2022-01-03 16:43] jyn514 commented on #163
I compared the `.o` files clang generates between two runs and they're different, but I'm not sure how, the symbol tables match.
[code]

[2022-01-03 16:46] jyn514 commented on #163
ah, but the section contents are different:
[code]

[2022-01-03 16:47] jyn514 commented on #163
`/tmp/.tmpsRVOK1` looks like the name of the temporary directory libbpf-clang uses for storing the section headers. Is there a way to tell clang not to include that in the binary? Or, barring that, to using a consistent directory name?

[2022-01-04 19:51] thesw4rm opened #171 "Cannot reuse fds for BPF map without pinning it globally."
Currently, [reuse_pinned_map](https://github.com/libbpf/libbpf-rs/blob/a8fccb85963aa98586dbb962a1e1e757240e4ef2/libbpf-rs/src/map.rs#L65) does not allow for multiple BPF programs created by the same userspace program to share one BPF map.

[code]

[2022-01-06 18:28] insearchoflosttime opened #172 "[libbpf-cargo] Add support for floats"
Floating types were added to libbpf but have not yet been updated in libbpf-cargo

[2022-01-06 18:32] insearchoflosttime commented on #163
As a summary of the conversation in https://github.com/libbpf/libbpf-rs/pull/169, the approach we're going to go with is statically linking BPF object files, which will strip out DWARF info as a side-effect

[2022-01-08 00:44] insearchoflosttime opened #175 "Add support for bpf_program__set_autoload"
The libbpf API `bpf_program__set_autoload` can be used to disable loading and verifying specific BPF programs. This API should be added to libbpf-rs.

[2022-01-08 00:45] insearchoflosttime opened #176 "Add support for bpf_program__set_attach_target"

[2022-01-10 20:48] #163 closed

[2022-01-11 16:03] jyn514 opened #177 "Statically link BPF object files to avoid having DWARF info"
As a summary of the conversation in https://github.com/libbpf/libbpf-rs/pull/169, the approach we're going to go with is statically linking BPF object files, which will strip out DWARF info as a side-effect

_Originally posted by @insearchoflosttime in https://github.com/libbpf/libbpf-rs/issues/163#issuecomment-1006820411_

[2022-02-04 18:20] kckeiks opened #185 "setting XDP modes"
Hello,

I see that `bpf_program__attach_xdp` is used to attach programs to XDP but how do we specify the mode (generic, native, offloaded)? Seems like generic is the default, is that right?

I found this set of [patches](https://lwn.net/ml/bpf/20200713051230.3250515-1-andriin@fb.com/) and it looks like the bpf_link-based API was added to attach BPF XDP programs through
some low level (BPF_LINK_CRE

[2022-02-05 02:51] insearchoflosttime commented on #185
Hello! Welcome to bpf and to libbpf-rs! That's a great question - right now, libbpf does not support a way to specify the mode when attaching a program to XDP. There will need to be a function like `bpf_program__attach_xdp_opts` that will take in opts where you can specify the mode.

[2022-02-07 17:51] anakryiko commented on #185
You can specify XDP flags (XDP_FLAGS_HW_MODE|XDP_FLAGS_DRV_MODE|XDP_FLAGS_SKB_MODE) when using BPF_LINK_CREATE command directly through link_create.flags attribute. Unfortunately higher-level libbpf API (bpf_program__attach_xdp()) doesn't provide a way to do this, but I think that's because in practice you shouldn't really need that. When no flags are specified, kernel chooses between DRV_MODE or

[2022-02-09 16:46] kckeiks commented on #185
Thank you both. Sounds like adding functionality to this library to specify the mode isn't necessary then but if you think it would be a good addition, I would be glad to have a go at it. Cheers.

[2022-02-09 16:53] #185 closed

[2022-02-12 06:47] mimullin-bbry opened #187 "Cargo audit should be added to the github workflow"
PR https://github.com/libbpf/libbpf-rs/pull/186 will give the libbpf-rs project a clean run of "cargo audit"

The project may wish to utilize cargo audit in the github workflow.

Using cargo audit, will give users of libbpf-rs piece of mind that the project isn't pulling in any potential vulnerabilities.

Cargo audit be run on a schedule (weekly/daily?) along with the regular PR request cycle in o

[2022-02-18 05:38] syscll commented on #187
https://github.com/actions-rs/audit-check could probably do the job.

You can also use the [schedule](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule) trigger in GitHub actions to run it as a cron.

I can PR something if that helps?

[2022-02-19 18:18] mimullin-bbry commented on #187
Change #190 is certainly something that I, a user of libbpf-rs, would appreciate.

However, adding cargo audit as a scheduled event will add a maintenance burden upon the project maintainers.  I think it's a small burden w.r.t. scheduled events; but it's not my call to make.

To follow up #190, do you know if there is a way to add cargo audit to the CI pipeline, but make it such that it doesn't "f

[2022-02-19 19:06] syscll commented on #187
Apologies if I jumped the gun by creating the PR.

If a scheduled event fails, it will only update the new shield in the README. But I do see how this could be added overhead to maintainers.

Unfortunately, that isn't possible right now. There is an [open feature request](https://github.com/actions-rs/audit-check/issues/216) to add it, but as of right now, it would fail the PR status checks.

[2022-02-21 12:14] zyy17 opened #191 "libbpf-rs: Add support for creating map standalone"
## User Story

We need to create pinned map when some conditions meet, but libbpf-rs only support create map from ELF file.

## Example

libbpf support `bpf_map_create()` and I think we can create the new abstraction to support creating map standalone. Refer to [cilium/ebpf](https://github.com/cilium/ebpf) implementation, maybe we can provide the following API(same as [map.go](https://github.com/c

[2022-02-21 19:07] danobi commented on #191
Can you elaborate what your use case is? And why creating maps from elf file is insufficient?

[2022-02-22 04:48] zyy17 commented on #191
In my scenario, we use the pinned map like the global configuration that shares between multiple BPF progs.
For example:
1. Our daemon service will create pinned map after launching;
2. daemon service will accept the RPC request to decide which BPF prog should be loaded and what configuration should be set in the configuration pinned map;
3. daemon can load multiple BPF progs and control their beh

[2022-02-22 22:49] insearchoflosttime commented on #191
Hi @zyy17, this is definitely on the libbpf-rs roadmap as part of our larger goal to reach feature parity with libbpf 1.0. We will prioritize this. Thanks for your patience.

[2022-02-23 21:03] kckeiks commented on #172
Hi,
I'm looking to contribute to this project. I have some bandwidth in the next few weeks so I could take a crack at this problem if I can get some guidance on the tasks that need to get done? Seems like we would need to update `BtfType` and some methods in `btf.rs` to handle `BtfType::FLoat`. Let me know if it's ok to pick this work up.

[2022-02-24 03:02] zyy17 commented on #191
@insearchoflosttime Looking forward to 1.0 😊  If you agree the design of  map API of cilium/ebpf, maybe I can provide the PR(I already implement the internal version).

[2022-02-24 22:59] insearchoflosttime commented on #191
Awesome!! Feel free to submit a PR, @zyy17! We welcome all contributions 😊

libbpf-rs has an existing interface for representing maps (https://github.com/libbpf/libbpf-rs/blob/master/libbpf-rs/src/map.rs#L91), so I don't think we need to create a new "MapSpec" abstraction. I think we could just add a new wrapper function inside the `impl Map { ...` that invokes libbpf_sys::bpf_map_create()

[2022-02-25 06:51] zyy17 commented on #191
@insearchoflosttime Sounds reasonable to me. I will give it a try and thank you for your help.

[2022-03-02 04:28] #176 closed

[2022-03-07 16:28] yefy opened #197 "libbpf: prog 'bpf_sockops': failed to attach to cgroup: Bad file descriptor"
# question
[code]

# Description
[code]

# error example
[code]

# error codes from  https://github.com/yefy/ebpf-sockhash-rs
[code]

[2022-03-08 00:52] kckeiks commented on #15
I think the problem described here could be solved by returning a collection such as `Vec<Result<InfoItem>>`, instead of being iterator based. This would solve the problems mentioned and gives users more flexibility (like use HOFs on the result). What do you think? I have some working code and can open a PR.

[2022-03-08 01:59] #172 closed

[2022-03-08 02:50] insearchoflosttime commented on #172
Hi @kckeiks!! I'm so sorry, I didn't get a notification about your message so I completely missed this. I'd love for you to contribute to this project. It looks like Hengqi just picked up this issue regarding adding support for floats, but I can file a lot more tasks to work on, if you're still interested.

One of our biggest endeavors this half is for libbpf-rs to reach feature parity with libbpf

[2022-03-08 03:17] kckeiks commented on #172
@insearchoflosttime yeah, that sounds great! Thanks for following up!

[2022-03-08 08:04] chenhengqi commented on #197
I think this problem is not related to libbpf-rs.

Do you have `/sys/fs/cgroup/cgroup.controllers` in your system ?

[2022-03-08 14:52] chenhengqi commented on #197
OK, now I see why you got the error.

[code]

You have to do:
[code]

:)

[2022-03-08 18:13] insearchoflosttime commented on #191
Hi @zyy17 , are you still working on this?

[2022-03-08 18:20] insearchoflosttime opened #198 "Get/set bpf program flags"
Implement the ability to get and set program flags. This should be a wrapper around the libbpf library's

`__u32 bpf_program__flags(const struct bpf_program *prog);`

and

`int bpf_program__set_flags(struct bpf_program *prog, __u32 flags);`

(https://github.com/libbpf/libbpf/blob/master/src/libbpf.c#L8538-L8550).

The libbpf-rs code for interacting with programs is located at libbpf-rs/src/program

[2022-03-08 18:22] insearchoflosttime commented on #198
@kckeiks, would this be something you're interested in?

[2022-03-08 18:49] insearchoflosttime opened #199 "Add bpf link functionality"
As part of our effort to reach feature parity with libbpf-1.0, add a libbpf-rs interface for interacting with bpf links:

LIBBPF_API struct bpf_link *bpf_link__open(const char *path);
LIBBPF_API const char *bpf_link__pin_path(const struct bpf_link *link);
LIBBPF_API void bpf_link__disconnect(struct bpf_link *link);
LIBBPF_API int bpf_link__detach(struct bpf_link *link);

(https://github.com/libbpf

[2022-03-08 18:57] insearchoflosttime opened #200 "Get program's bpf instructions + instruction count"
Implement the ability to get the program's bpf instructions + instruction count. This should be a wrapper around the libbpf library's

[code]

(https://github.com/libbpf/libbpf/blob/3591deb9bc6b0848721f831790b78ae0a593b4c5/src/libbpf.h#L305-L335)

[2022-03-08 18:58] insearchoflosttime commented on #200
@kckeiks, would this be something you're interested in?

[2022-03-08 19:03] insearchoflosttime opened #201 "Register/unregister a custom BPF program SEC() handler"
Implement the ability to register + unregister a prog handler. This should be a wrapper around the libbpf library's

[code]
(https://github.com/libbpf/libbpf/blob/3591deb9bc6b0848721f831790b78ae0a593b4c5/src/libbpf.h#L1385-L1438)

[2022-03-08 22:37] kckeiks commented on #198
Yeah I can this one and #200

[2022-03-09 01:13] chenhengqi commented on #201
Please assign this to me :)

[2022-03-10 16:59] kckeiks commented on #200
`bpf_program__insns` returns a pointer to an array so should the `libbpf-rs` API allow users to access each instruction in the array? I'm trying to get a better idea of the use case. Looking though the commits in `libbpf` and this [PR](https://github.com/anakryiko/retsnoop/commit/f61c0af02223b2af414d6914a5df359761e28a6b#), it seems that this was created mainly to be able to clone programs so maybe

[2022-03-11 00:40] #198 closed

[2022-03-11 14:55] yefy commented on #197
[code]

[2022-03-14 19:15] kckeiks commented on #199
FYI `bpf_link__disconnect` was already added.

[2022-03-15 23:22] #199 closed

[2022-03-15 23:23] insearchoflosttime commented on #197
Closing this issue. Thanks @chenhengqi for helping!

[2022-03-15 23:23] #197 closed

[2022-03-15 23:24] #171 closed

[2022-03-16 21:24] insearchoflosttime opened #205 "Support bpf_xdp_attach and bpf_xdp_detach"
Defined in libbpf as:
[code]
https://github.com/libbpf/libbpf/blob/3591deb9bc6b0848721f831790b78ae0a593b4c5/src/libbpf.h#L898-L901

[2022-03-16 21:26] insearchoflosttime opened #206 "Add wrappers for bpf_xdp_query and bpf_xdp_query_id"
[code]

https://github.com/libbpf/libbpf/blob/3591deb9bc6b0848721f831790b78ae0a593b4c5/src/libbpf.h#L902-L903

[2022-03-16 21:34] insearchoflosttime opened #207 "Support traversing an object's maps (bpf_object__next_map and bpf_object__prev_map)"
Libbpf has these APIs
[code]

https://github.com/libbpf/libbpf/blob/3591deb9bc6b0848721f831790b78ae0a593b4c5/src/libbpf.h#L718-L729

that libbpf-rs should have wrappers around for userspace applications to use

[2022-03-16 21:37] insearchoflosttime opened #208 "Support traversing an object's programs (bpf_object__next_program and bpf_object__prev_program)"
Libbpf has these APIs
[code]
that libbpf-rs should have wrappers around for userspace applications to use

https://github.com/libbpf/libbpf/blob/3591deb9bc6b0848721f831790b78ae0a593b4c5/src/libbpf.h#L269-L280

[2022-03-16 21:55] insearchoflosttime opened #209 "Support creating bpf links"
To create a link in libbpf, there is this API:
[code]
https://github.com/libbpf/libbpf/blob/3591deb9bc6b0848721f831790b78ae0a593b4c5/src/bpf.h

In libbpf-rs, we should support this operation as well

[2022-03-16 21:56] insearchoflosttime opened #210 "Support updating bpf links"
To update a link in libbpf, there is this API:

[code]
https://github.com/libbpf/libbpf/blob/3591deb9bc6b0848721f831790b78ae0a593b4c5/src/bpf.h#L434

In libbpf-rs, we should support this operation as well

[2022-03-17 04:36] anakryiko commented on #208
don't we have program and map iterators? C doesn't have a concept of iterators, but Rust does. I don't think we need to expose bpf_object__{next,prev}_{program,map}() as is

[2022-03-17 20:13] insearchoflosttime commented on #208
Nice, it looks like we do (https://github.com/libbpf/libbpf-rs/blob/master/libbpf-rs/src/object.rs#L252). I'll mark this as closed

[2022-03-17 20:13] #208 closed

[2022-03-17 20:14] insearchoflosttime commented on #207
Already supported in src/object.rs

[2022-03-17 20:14] #207 closed

[2022-04-03 16:21] zyy17 commented on #191
Sorry for the late response, I miss the github message... As the above notice, I already submit my PR and look forward to your comments :)

[2022-04-18 14:48] zyy17 opened #219 "Exposing btf module"
In current implementation, the `btf` mod is [private](https://github.com/libbpf/libbpf-rs/blob/master/libbpf-cargo/src/lib.rs#L67). I think it would be helpful if we expose btf module.

I found the similar PR but closed for some reason: https://github.com/libbpf/libbpf-rs/pull/62/files#diff-fa4e7373a6c4a1948a89dc3be8086e734bea95eb7a4f5c5f24d7bd24feb73988. I think move the btf code to libbpf-rs and

[2022-04-19 02:47] insearchoflosttime commented on #219
@anakryiko  had a comment there "Will this API still make sense if/when we add support for libbpf's BTF writing APIs? I'm worried a bit that we are exposing these types a bit too early. And that they are sufficiently different from what libbpf. Do you think that will cause problems down the line?"

Do you know when we plan to add BTF writing APIs to libbpf @anakryiko?

[2022-04-19 23:02] anakryiko commented on #219
libbpf has BTF writing APIs already. This is more of a question of designing Rust API and/or wrappers that would use and expose libbpf's struct btf/struct btf_type/etc. So we'd need someone with a pretty good grasp of Rust (with all the lifetime magic and stuff like that) to design and implement this properly, I think.

[2022-04-20 05:21] danobi commented on #219
I forget exactly what I was trying to do at the time, but IIRC I thought making btf module public would help.

I probably found another way. I also seem to remember the BTF API needed some cleaning up before I was comfortable making it public. Probably wasn’t a very well thought out public API.

On Mon, Apr 18, 2022, at 7:48 AM, Yong wrote:

--
  Daniel Xu
  ***@***.***

[2022-04-22 02:58] #191 closed

[2022-05-06 08:52] chengshuyi opened #224 "`*mut perf_buffer` cannot be sent between threads safely within `PerfBuffer<'_>`"
I want to create a thread to receive perf data and pass the data to the main thread for processing through crossbeam_channel. But there was trouble.

below is my code.
[code]

below is the error message.

[code]

Maybe we can add this line of code to solve the problem, what do you think?
[code]

Thanks in advance!

[2022-05-06 17:35] insearchoflosttime commented on #224
I don't think perf buffers can be transferred across thread boundaries because internally the perfbuffer's circular buffers are per-CPU, and there is no guarantee that the two threads will run on the same CPU (please correct me if I'm wrong here though @anakryiko). I don't think we can PerfBuffer can have the Send trait.

Ringbuffers though can be safely shared across multiple CPUs simultaneously.

[2022-05-06 20:46] anakryiko commented on #224
Both ringbuf and perfbuf can poll from any thread, as long as it's a single thread. So it should be possible to Send them to another thread. As long as Send implies a move, and not sharing? I'm forgetting exact semantics for Send, but there is no problem in polling for updates from any thread.

[2022-05-06 20:54] insearchoflosttime commented on #224
Ah okay, I think I'm confusing how perfbuffers work internally then. I'll take another look at the libbpf implementation. thanks for clarifying

[2022-05-14 05:31] loshz commented on #187
I wanted to touch base on this again as I've been having good success with [cargo-deny](https://github.com/EmbarkStudios/cargo-deny) recently, and it addresses all of the above issues we encountered before. In fact, [cargo-deny is now the official RustSec frontend](https://github.com/EmbarkStudios/cargo-deny/issues/194).

We could use the default cargo-deny config and set the levels to "warn" as t

[2022-06-04 10:59] Icegrave0391 opened #230 "Interact and load bpf program object without skeleton"
Hi, I'm new to eBPF and libbpf-rs.

I would like to build the BPF program by using `clang` (to generate the BPF object file), and I noticed there is such a workflow ([alternative workflow](https://docs.rs/libbpf-rs/0.17.0/libbpf_rs/index.html#alternate-workflow)) post on the official document which indicates to use a normal rust project and libbpf-rs directly to interact and load the BPF program.

[2022-06-07 18:43] insearchoflosttime commented on #230
Hi @Icegrave0391. libbpf-cargo supports building a BPF program into an object file without generating the skeleton (added in this PR https://github.com/libbpf/libbpf-rs/pull/223). I think you can then use the ObjectBuilder::open and load functions to open and load it yourself, instead of opening and loading it through the skeleton. There isn't an example or demo in this repo that does this (the ex

[2022-06-14 12:57] #230 closed

[2022-06-15 02:46] dafu-wu opened #231 "the use of btf_custom_path"
I'm new to Rust，How do I pass the BTF file to btf_custom_path？
thank you very much for taking the time to answer my little friend.

[2022-06-16 19:27] insearchoflosttime commented on #231
Hi @dafu-wu. Can you clarify your use case? We don't currently support passing in a BTF file.

[2022-06-17 04:18] dafu-wu commented on #231
First of all, thank you. Some of the kernel CONFIG_DEBUG_INFO_BTF=n,but we can get BTF file from btfhub or pahole,so,I want to pass a local BTF file to 'bpf_object__open_file'.

[2022-06-17 17:21] insearchoflosttime commented on #231
Gotcha, I just took a look at https://lpc.events/event/11/contributions/948/attachments/906/1776/LPC21_Towards_truly_portable_eBPF.pdf which has some more information about btfhub and using a custom external BTF file.

If you want to pass in the BTF file to btf_custom_path on your local version of libbpf-rs, I think you'll need to expand ObjectBuilder::opts to take in a the btf custom path as an a

[2022-06-20 07:48] chengshuyi commented on #231
'''
pub fn open(mut self) -> libbpf_rs::Result<OpenIcmpSkel<'a>> {
        let mut skel_config = build_skel_config()?;
        let open_opts = self.obj_builder.opts(std::ptr::null());

        let ret = unsafe { libbpf_sys::bpf_object__open_skeleton(skel_config.get(), &open_opts) };
        if ret != 0 {
            return Err(libbpf_rs::Error::System(-ret));
        }

        let obj = unsafe {

[2022-06-21 07:52] dafu-wu commented on #231
@chengshuyi  thanks a lot,I think this is a very good solution,do you plan to propose a PR for libbpf-rs ？If not, I plan to submit one after sorting.

[2022-06-21 07:54] dafu-wu commented on #231
Thank you very much for your help，there seems to be no corresponding method to deliver  btf_custom_path. I think the method of @chengshuyi  may be a good way.

[2022-06-21 09:32] chengshuyi commented on #231
ok, i'm glad to submit a pr. I will finish it this week.

[2022-06-27 07:00] dafu-wu commented on #231
#232

[2022-06-28 13:11] Icegrave0391 opened #234 "Debug with bpf program by libbpf-rs"
Hi, I'd like to know how to debug with the program built from libbpf-rs?

When my program crashes, it only outputs the errno, i.e. `Error: System error, errno: 22`

[2022-06-28 13:32] Icegrave0391 commented on #234
What I'm trying to do is just testing bpf ringbuf and reserve a buffer:
[code]

Once I comment this line, the program could work

[2022-06-28 17:23] insearchoflosttime opened #235 "Add support for bpf_program__attach_uprobe_opts"
bpf_program__attach_uprobe_opts in libbpf: https://github.com/libbpf/libbpf/blob/master/src/libbpf.h#L603-L604

[2022-06-29 03:09] Icegrave0391 commented on #234
@insearchoflosttime Sorry for disturbing you. I resolved the problem after checking the [kernel tests](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/tools/testing/selftests/bpf/progs/dynptr_fail.c).

[2022-06-29 03:09] #234 closed

[2022-07-01 02:23] NPC51129 opened #236 "cargo libbpf gen failed to find BTF for extern 'PT_REGS_PARM1': -2"
Hi, I'm developing a project with libbpf-rs/cargo and I fail to generate skeletons:
[code]
my codes:
[code]
[code]
My machine is aarch64. It seems that the condition `#elif defined(__aarch64__)` is not satisfied. But I have checked my compiler to make sure the macro is defined:
[code]
Do you know what causes this problem and how can i solve it? Thank you ^_^

[2022-07-01 05:17] anakryiko commented on #236
make sure you have `#include <bpf/bpf_tracing.h>` which defines PT_REGS_PARM1 macros

[2022-07-06 17:08] insearchoflosttime commented on #236
@NPC51129 does Andrii's suggestion fix your problem or do you still need help?

[2022-07-07 00:41] thesw4rm opened #238 "What happens to a uprobe when the .so file it linked to gets deleted?"
Hi,

I created a uprobe and attached it to libssl within an actively running container (accessed the container's filesystem using the root process' directory in procfs). The uprobe is intercepting function calls as expected and reporting results. When I kill and delete the container, the uprobe will obviously not report any events any more, but I was wondering what happens to it?

Is there a clean

[2022-07-08 02:53] insearchoflosttime commented on #238
If I am understanding your question correctly, your question is the same as [this one](https://github.com/iovisor/bcc/issues/2640) (and please correct me if it's not :)). Copy & pasting from that thread:

"In your case the uprobe is attached to the file (inode). As long as the inode does not change, all future processes mapping the file will have the uprobe.
You may read https://www.kernel.org/doc

[2022-07-08 17:35] thesw4rm commented on #238
That's a great find thank you! Not sure why I didn't find it while researching.

I think the libbpf functions I am calling are using a file based uprobe to attach to a shared library, because there isn't really another method that would make sense.

The person who answered says that if the target process exits, then even an attached global uprobe needs to be cleaned up. Why would a global/file-bas

[2022-07-09 00:54] anakryiko commented on #238
@insearchoflosttime, @thesw4rm this discussion should be happening on the mailing list so more people from bpf community can read this, learn from and/or contribute to the discussion. This is not libbpf-rs specific.

[2022-07-10 17:44] thesw4rm commented on #238
@anakryiko fair point! I asked twice on the mailing list. The question you quoted on there was posted by me. It didn't get any traction. I wanted to get an answer here and cross post it there for others.

[2022-07-11 04:25] #231 closed

[2022-07-12 17:08] insearchoflosttime commented on #238
Closing per discussion moving to https://lore.kernel.org/bpf/OBzRUbPFxraCqyqKJG4wxt16KtWfSZuzR1_huzK30nTPOyc2_oKjBYylXc9fr0CL_oOi0SbH8P67jujAXcI8rMT_wZQwfcAblzuteWLv5fg=@pm.me/T/

[2022-07-12 17:08] #238 closed

[2022-07-12 17:15] insearchoflosttime commented on #236
Closing. Please reopen @NPC51129 if you have any further problems

[2022-07-12 17:15] #236 closed

[2022-07-13 06:49] dafu-wu opened #240 "Is there any plan to release the new version 0.18.0 in the near future？"
If inscribe.

[2022-07-13 20:59] insearchoflosttime commented on #240
Hi @dafu-wu , I can push it out this week.

[2022-07-14 02:07] dafu-wu commented on #240
Thank you very much,Look forward to it.

[2022-07-14 09:43] dafu-wu commented on #231
@chengshuyi

` let mut btf_custom_path_fd: *const i8 = std::ptr::null();

    let btf_custom_path = "/test/vmlinux.btf";
    let _path = CString::new(btf_custom_path).unwrap();
    btf_custom_path_fd = _path.as_ptr();
    println!("btf_custom_path_fd:{:#?}", btf_custom_path_fd);

    let mut open_skel_conn4_builder = Connect4SkelBuilder::default();
    let mut conn4_opts = open_skel_conn4_builder.

[2022-07-14 10:30] chengshuyi commented on #231
Do you use other higher kernel features which would load btf into kernel? btf_custom_path is not valid in this scene.

[2022-07-15 02:45] dafu-wu commented on #231
maybe,i pass btf_custom_path err，How did you do it？

[2022-07-15 14:05] dafu-wu commented on #231
thank you for your help!👍

[2022-07-15 18:42] insearchoflosttime commented on #240
@dafu-wu, libbpf-rs 0.18.0 was just released.

[2022-07-15 18:42] #240 closed

[2022-07-16 07:35] javierhonduco commented on #177
This would be amazing. I am currently not checking in the generated skeleton in git due to this

[2022-07-25 20:28] heinrich5991 opened #245 "`*mut bpf_object` cannot be sent between threads safely"
Is it intentional that structs like `WlistSkel` don't implement `Send` and `Sync`? Because they contain raw pointers, they're automatically marked as non-`Send`able and non-`Sync`hronized, but is it actually the case that one cannot use the data structures from multiple threads?

I'm trying to build a HTTP API around libbpf, and `warp` wants to use multiple threads to handle HTTP requests, thus th

[2022-07-26 20:20] insearchoflosttime commented on #245
I think it's send-able (able to be used by 2 threads at different times) but not sync-able (able to be used by 2 threads at the same time).

[2022-07-26 22:56] Rei-Tw commented on #245
What about `struct Map` directly ? Could it be possible to have that struct marked as Sendable & Syncable ?
I don't think accessing maps at the same time in 2 different threads is bad at all (correct me if I'm wrong).
I guess you will just have a different result if an entry doesn't exist anymore for example.

[2022-07-28 18:39] #148 closed

[2022-08-04 22:36] insearchoflosttime opened #256 "Preserve errno in set_print()"
We need to preserve the errno and set it back after the callback function is called.

For more context, please see https://github.com/libbpf/libbpf/pull/536

[2022-08-28 16:08] mdaverde opened #260 "Derive Debug"
Possible to derive [Debug](https://doc.rust-lang.org/std/fmt/trait.Debug.html) trait output for some of the public-facing structs?

Besides the ability to debug from the output, when we build higher-level structs that use libbpf-rs's types internally, we can't derive `Debug` for our custom structs because we get a compiler error notifying us that libbpf-rs's types themselves don't implement `Debug

[2022-08-29 16:31] danielocfb commented on #260
Agreed, we most likely should do that.

[2022-09-01 17:27] danielocfb commented on #260
@mdaverde Are you interested in creating a pull request adding these derives? Should probably include warning on the `missing_debug_implementations` lint.

[2022-09-01 17:34] danielocfb opened #262 "Establish and enforce minimum supported Rust version policy"
We should try and determine the minimum supported Rust version and enforce it by using it in CI as well. If it's sufficiently low, we may consider bumping it so that we can $$ in on new features and [bump](https://github.com/libbpf/libbpf-rs/pull/261) to using Edition 2021.

[2022-09-01 18:43] danielocfb commented on #262
Test runs on a bunch of Rust versions:

https://github.com/danielocfb/libbpf-rs/actions/runs/2974040910

We seem to already have an example that is using Edition 2021. Open question whether that should carry over to the entire library, though.

[2022-09-02 09:19] Rei-Tw opened #263 "Attach mode parameter to function attach_xdp"
Hi,

Is there any way to specify the attach mode for XDP ? The current function to attach an XDP program only has the interface index as parameter (https://docs.rs/libbpf-rs/latest/libbpf_rs/struct.Program.html#method.attach_xdp).

Available attach modes are :
  - XDP_FLAGS_SKB_MODE
  - XDP_FLAGS_DRV_MODE
  - XDP_FLAGS_HW_MODE

[2022-09-03 04:41] chenhengqi commented on #263
You can use `libbpf_sys::bpf_xdp_attach`.

[2022-09-03 04:54] chenhengqi commented on #262
The README already states that:

I guess it's OK to apply to the entire library.

[2022-09-04 18:25] grubeli opened #264 "ksyscall support"
According to [Journey to libbpf v1](https://nakryiko.com/posts/libbpf-v1/), there is a better option to trace  syscalls - `ksyscall`.
Is the `ksyscall` supported in this crate?

I was unable to use `SEC("ksyscall/openat")`

[2022-09-06 16:27] danielocfb commented on #262
Agreed, but I don't think that's to be read as a blanket statement for all sorts of breakages whenever we feel like it. Buying into the `crates.io` eco-system we almost certainly should follow semantic versioning (or [Cargo's version](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies-from-cratesio) of it). Depending on what we decide, that may or may no

[2022-09-08 10:03] kochia3 opened #267 "Compile for Android"
How can I compile libbpf-rs based project for Android, x86_64 emulator or for arm64?

[2022-09-08 16:42] danielocfb commented on #260
With https://github.com/libbpf/libbpf-rs/pull/266 merged the scope of this issue got reduced to adding a few more `Debug` implementations to `struct`s containing pointers.

[2022-09-08 21:34] insearchoflosttime commented on #267
Hi @kochia3, I'm not sure I fully understand your question. rustc is a cross-compiler, so it can generate targets for any architecture. Can you elaborate on your question?

[2022-09-08 21:53] insearchoflosttime commented on #264
ksyscall is not currently supported in this crate, but we should add this.

[2022-09-08 21:58] insearchoflosttime commented on #263
[bpf_xdp_attach()](https://git.kernel.org/pub/scm/linux/kernel/git/bpf/bpf-next.git/tree/tools/lib/bpf/netlink.c#n277) this but we haven't yet added bpf_xdp_attach() support for libbpf-rs.  It's on[ the list of features missing for feature-parity with libbpf 1.0](https://github.com/libbpf/libbpf-rs/wiki/Feature-parity-with-libbpf-1.0).

[2022-09-09 06:18] kochia3 commented on #267
Can we compile it for Android? Did you try, I was unable to do so, for example https://github.com/libbpf/libbpf-bootstrap uses xmake and ndk for that

[2022-09-20 18:13] zhaiyan920 opened #270 "libbpf-cargo does not honor alignment of struct"
Hi, I've encountered this when using SkeletonBuilder: if the bpf code has "aligned" attribute on struct, then generated type does not correctly correspond to that.

I created a reproducible here: https://github.com/zhaiyan920/reproducible/tree/main/libbpf-cargo-not-honor-alignment, with libbpf-rs=0.18.0 and libbpf-cargo=0.12.0.

When running the build, it turns out

[code]
is generated as
[code]

[2022-09-22 00:50] AlexZhao opened #271 "Some improvement suggestion about util.rs"
Hi, all

There is something may need to consider about improving correctness of util parse_ret functionalities.
the original existed functions
pub fn parse_ret(ret: i32) -> Result<()> {
    if ret < 0 {
        // Error code is returned negative, flip to positive to match errno
        Err(Error::System(-ret))
    } else {
        Ok(())
    }
}

direct reverse the return value to positive value,

[2022-09-26 00:27] AlexZhao commented on #271
Seems the release libbpf within FC35 is version 0.7, and is there any possibility to detect it within libbpf-rs to make it can work across a wider range of libbpf version compatibility?

[2022-09-29 10:02] Zhongy95 opened #272 "fail to bind uprobe program to a go binary program"
As I tried to bind a uprobe program to a simple go-grpc program,I failed.
see https://github.com/pixie-io/pixie-demos/tree/main/http2-tracing ,I tried to bind uprobe program to symbol "(loopyWriter)writerHeader"
The output seems Ok, but as I started client program, there was no bpf_printk output.
my user-space code:
`

    let bi_path = "/tmp/grpc_server";
    let file_path = Path::new(bi_path);

[2022-09-29 12:02] Zhongy95 commented on #272
I change my go version from 1.19 to 1.15 and recompile my program,then the uprobe failed to created:

[code]

[2022-09-29 12:04] Zhongy95 commented on #272
I change my go version from 1.19 to 1.15 and recompile my grpc program.Then the uprobe fail to attach:
[code]

[2022-10-01 19:34] crapStone opened #273 "Can't build on 32bit architectures"
Because of two hard coded `u64` in [`libbpf-rs/src/tc.rs`](https://github.com/libbpf/libbpf-rs/blob/de704c9e560d7b5679f9525ebf6d73ff8b05717a/libbpf-rs/src/tc.rs#L50) this library cannot be built for 32bit targets (see [here](https://gitlab.alpinelinux.org/crapStone/aports/-/jobs/858146#L538)).

Is it ok to include `libc` in the dependencies and convert the `usize` to a `libc::c_ulong`?

[2022-10-01 20:35] crapStone opened #275 "Feature novendor doesn't compile with newest libbpf"
I have `libbpf` version `1.0.1` installed and when compiling `libbpf-rs` version `0.18.0` with the `novendor` feature the following error occurs:

[code]

The problem is, that on crates.io `libbpf-rs` version `0.18.0` depends on `libbpf-sys` version `0.8.0` (see [here](https://crates.io/crates/libbpf-rs/0.18.0/dependencies)) and not `1.0.0` like in the `master` branch.

[2022-10-04 17:29] danielocfb commented on #270
Hi @zhaiyan920 , thanks for the report. We have also hit this issue but haven't gotten around looking into a fix. Do you have the cycles to take this on, by any chance?

[2022-10-05 16:28] #273 closed

[2022-10-05 20:20] anakryiko commented on #272
it will depend on what "get_symbol_address" actually does. Kernel expects file offset of the function you want to attach to. This isn't necessarily the same as symbol address, so I'd look into that some more.

[2022-10-05 20:20] Zhongy95 commented on #272
您好，我是钟源，这是一封自动回复邮件，您的邮件我已收到，我会尽快回复您的！！

[2022-10-05 22:12] danielocfb commented on #275
I think we should. Internal folks also seemed to have asked for that.

[2022-10-11 19:00] danielocfb commented on #275
We just published `libbpf-rs` version `0.19`, which works with `libbpf` `1.0`. So this should address the issue you were seeing. Let us know if that's not the case.

[2022-10-11 19:00] #275 closed

[2022-10-13 01:23] alexforster opened #280 "Update to libbpf-sys 1.0.3+v1.0.1"
See here: https://github.com/libbpf/libbpf-sys/issues/46

[2022-10-13 17:18] masmullin2000 commented on #280
Now that libbpf-sys has reached 1.0, should libbpf-rs now omit the patch version of libbpf-sys in the cargo.toml?

Such a fix would not be necessary, and no rev new crates.io push would be required if

[code]

[2022-10-13 20:50] danielocfb commented on #280
Not making any statement about the necessity of a new release in one way or another, but to the best of my knowledge, the claim about omitting a patch version causing the stated change is not true.

From https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies-from-cratesio:
[code]

That is, for the intents and purposes of this discussion (which pertains neces

[2022-10-14 16:35] masmullin2000 commented on #280
Ah, Ok.  Thanks for educating me, now I understand the ^ symbol :)

[2022-10-14 19:19] jirutka commented on #68
Nope, it’s not a Fedora packaging issue, `rustfmt` may not be available. It’s unexpected for a library to require `rustfmt` and since it should at least be mentioned in the readme.

[2022-10-14 20:01] mdaverde opened #281 "Releases"
Am wondering around the general appetite for more standard release practices. Actions such as:

- Git tags per version
- Github releases
- Changelog generation

Any of these would reduce friction in determining what changed between crate releases

[2022-10-17 16:30] danielocfb commented on #281
I agree that it would be useful to include these bits. Do you have a suggestion on how to go about changelog generation?

[2022-10-17 16:32] danielocfb commented on #280
We do have `0.19.1` and `0.13.1`, respectively, by now, so this issue should have been addressed.

[2022-10-17 16:32] #280 closed

[2022-10-20 20:30] #272 closed

[2022-10-20 20:31] Zhongy95 commented on #272
您好，我是钟源，这是一封自动回复邮件，您的邮件我已收到，我会尽快回复您的！！

[2022-10-20 20:31] insearchoflosttime commented on #272
Closing this issue. Please reopen if you are still stuck on this

[2022-11-18 17:47] mdaverde commented on #263
In general I think we lack support for attachment flags?

The use case I ran into was trying to attach (directly, not through a link) a bpf program to a cgroup but needing to set `ALLOW_MULTI` to the attachment flags.